* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
    box-sizing: border-box;
    /* outline: 1px dashed red; */
}

/* body {
    display: flex;
    justify-content: center;
} */

.container-head {
    display: box;
}

.title-head {
    text-align: center;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    font-size: 50px;
}

.your-feed {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

.container-body {
    display: flex;
    justify-content: center;
}

.col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12%;
    padding: 10px;
    margin-bottom: 120px;
    margin-right: 20px;
    border: 2px solid black;
}

.col-2 {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.user-photo {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70px;
}

.col-1 a {
    margin-bottom: 20px;
}

.users {
    border: 2px solid black;
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
}

.title {
    font-size: 25px;
    margin-bottom: 10px;
}

.card-2 {
    display: flex;
    align-items: top;
}

#neilCounter, #jimCounter, #nicholeCounter {
    margin-right: 20px;
    margin-left: -140px;
    margin-top: 10px;
}

.like {
    background-color: #FFD866;
    border: 1px solid black;
    width: 70px;
    height: 20px;
    margin-top: 10px;
}