* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
    box-sizing: border-box;
    /* outline: 1px dashed red; */
}

body {
    display: flex;
    justify-content: center;
}

.container {
    border: 2px solid black;
    display: flex;
    margin-top: 40px;
    padding: 20px;
}

.title {
    margin-bottom: 20px;
}

.col-2 {
    display: flex;
    align-items: top;
}

.counter {
    margin-right: 20px;
    margin-left: -140px;
    margin-top: 10px;
}

.like {
    background-color: #FFD866;
    border: 1px solid black;
    width: 70px;
    height: 20px;
    margin-top: 10px;
}